.main {
  display: flex;
  border-radius: 5px;
  gap: 5px;
  width: 150px;
  align-items: center;
  background-color: white;
}

.label {
  font-size: 32px;
  font-weight: bold;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  color: black;
}

.max {
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid rgb(158, 69, 5);
  flex: 1;
  background-color: white;
}
.value {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  height: 100%;
  width: 400px;
  background-color: rgb(158, 69, 5);

  transition: 0.35s;
}
