* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 2rem 0 4rem 0;
}

.main-page{
    /* border:1px solid; */
}

.main-header{

    list-style: none;
    display: flex;
    padding: 40px;
    color: rgb(222, 115, 39);
    font-size: 24px;
    background-color: rgb(243, 199, 141);
    /* border-bottom: 1px solid; */

}
.main-header-item{
    padding: 5px;
}
.main-header-item.active {
    border-bottom:3px solid rgb(204, 159, 101);
}

.warrior-list{
    list-style: none;
    text-align: left;
    width: min(90%,70.5rem);
}
.accordion {
    max-width: 600px;
    margin: 2rem auto;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 15px 15px 0 0;
    background-color: #fdf29dec;
}

.accordion-title,
.accordion-content {
    padding: 1rem;
}

.accordion-content {
    background-color: #fdf29dec;
    border-radius: 0 0 15px 15px;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 18px;
    }

    .accordion {
        width: 90%;
    }
}

.btn-success{
    background-color: rgb(102, 177, 141)!important;
    border: 1px solid rgb(102, 177, 141)!important;
}

.accordion-item {
    margin-bottom: 1em;
    
}

.accordion-header {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.container {
    margin-inline: auto;
    /* ilk değer min değer 2. değer max değer */
    width: min(90%, 70.5rem);
}

.game-over{
    font-size: 32px;
    color: #fdac00;
    text-shadow: 0px 0px 5px #7f0000;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}